{
  "name": "sqlserver-source-connector",
  "config": {
    "connector.class": "io.debezium.connector.sqlserver.SqlServerConnector",
    "tasks.max": "1",
    "topic.prefix": "kafka-1",
    "topic.creation.default.replication.factor": 1,
    "topic.creation.default.partitions": 12,
    "topic.creation.default.cleanup.policy": "delete",
    "database.user": "{{{username}}}",
    "database.names": "TestDB",
    "database.hostname": "{{{hostname}}}",
    "database.port": "{{{port}}}",
    "database.password": "{{{password}}}",
    "schema.history.internal.kafka.bootstrap.servers": "{{{kafkaurl}}}",
    "schema.history.internal.kafka.topic": "schema-changes.TestTable-1",
    "database.trustServerCertificate": "true",
    "table.include.list": "dbo.TestTable",
    "snapshot.mode": "initial",
    "snapshot.isolation.mode": "read_committed",
    "transforms": "unwrap",
    "transforms.unwrap.type": "io.debezium.transforms.ExtractNewRecordState"
  }
}
